.cancelButton:hover {
    -fx-text-fill: #b30404;
}

.minimizeButton:hover {
    -fx-opacity: 0.5;
}

.loginButton {
    -fx-background-color: #68988a;
}

.loginButton:hover {
    -fx-background-color: #65ae98;
}

.hyperlink {
    -fx-focus-color: transparent;
    -fx-underline: false;
    -fx-text-fill: #68988a;
}
.hyperlink:hover {
    -fx-text-fill: #65ae98;
}

.mainButtons {
    -fx-background-radius: 10px;
    -fx-background-color:  #ababab;
    /*-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 8, 0.3, 2, 2);*/
}

.mainButtons:hover {
    -fx-background-color: #bdbdbd;
    /*-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 9, 0.4, 3, 3);*/
}