.cancelButton:hover {
    -fx-text-fill: #b30404;
}

.sendButton{
-fx-background-color: #75AC9D;}

.sendButton:hover{
-fx-background-color: #68988a;}

.loginButton {
    -fx-background-color: #68988a;
}
.loginButton:hover {
    -fx-background-color: #65ae98;
}

.hyperlink {
    -fx-focus-color: transparent;
    -fx-underline: false;
    -fx-text-fill: #68988a;
}
.hyperlink:hover {
    -fx-text-fill: #65ae98;
}